<h2 class="page-header">Air</h2>
<br>
<h5>Status Air</h5>
<button class="btn btn-success">ON</button>
<button class="btn btn-danger">OFF</button>
<br></br>
<h5>Temperature</h5>
<input class="form-control-temp" type="number" name="temp" min="16" max="28" value="25">