<h2 class="page-header">Air</h2>
<br>
<form method="post" action="/temp">
	<h5>Status Air</h5>
	<input type="submit" name="button" class="btn btn-success" value="ON">
	<input type="submit" name="button" class="btn btn-danger" value="OFF">
</form>
<br>
<form method="post" action="/">
	<h5>Temperature</h5>
	<input class="form-control-temp" type="number" name="temp" min="18" max="28" value="23">
	<button type="submit" class="btn btn-primary">Submit</button>
</form>